* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

details,
summary,
h1,
h2,
h3 {
  font-family: "Kumbh Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.FAQ {
  width: 375px;
}

.FAQ__title {
  text-align: center;
  color: hsl(238, 29%, 16%);
}