* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

details,
summary,
h1,
h2,
h3 {
  font-family: "Kumbh Sans", sans-serif;
}

.FAQ {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.5rem;
  max-width: 420px;
  margin-top: 108px;
  padding: 0 1.5rem 2.2rem 1.5rem;
  width: 88%;
}
.FAQ__title {
  color: hsl(238, 29%, 16%);
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.FAQ__illustrations {
  margin-bottom: 1.5rem;
}

.accordions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.accordion {
  border-bottom: 1px solid hsl(240, 5%, 91%);
  padding-bottom: 1rem;
}
.accordion[open] > .accordion__summary {
  color: hsl(238, 29%, 16%);
  font-weight: 700;
}
.accordion[open] .accordion__icon {
  transform: rotate(180deg);
}
.accordion__summary {
  align-items: center;
  color: hsl(237, 12%, 33%);
  cursor: pointer;
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  list-style-type: none;
  transition: color 0.2s;
}
.accordion__summary:hover {
  color: hsl(14, 88%, 65%);
}
.accordion__description {
  color: hsl(240, 6%, 50%);
  font-size: 12px;
  line-height: 1.5;
  margin-top: 0.75rem;
}

.illustrations {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}

.illustration {
  position: absolute;
  transform: translateY(-108px);
  width: 100%;
}

@media screen and (min-width: 992px) {
  .FAQ {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 900px;
    margin-top: 0;
    overflow: hidden;
    padding: 4rem 6rem 4rem 0;
  }
  .FAQ__title {
    text-align: left;
  }
  .FAQ__illustrations {
    margin-bottom: 0;
  }
  .accordion {
    padding-right: 1rem;
  }
  .illustration {
    transform: translateX(-83px);
    position: static;
  }
  .shadow {
    position: absolute;
    transform: translate(-330px, -365px);
  }
}