* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

details,
summary,
h1,
h2,
h3 {
  font-family: "Kumbh Sans", sans-serif;
}

body {
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.FAQ {
  background-color: white;
  border-radius: 1.5rem;
  padding: 2rem;
  width: 375px;
}

.FAQ__title {
  color: hsl(238, 29%, 16%);
  font-size: 2rem;
  text-align: center;
}