@use "sass:map";
@use "../base/variables";

.accordion {
  $delay: 0.1s;

  border-bottom: 0.0625rem solid
    map.get(variables.$divider-colors, "light-blue");
  opacity: 0;
  padding-bottom: 1rem;

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      animation: show-accordion 0.5s $delay forwards;
    }
    $delay: $delay + 0.05s;
  }

  &[open] > &__summary {
    color: map.get(variables.$primary-text-colors, "very-dark-blue");
    font-weight: 700;

    &:hover {
      color: map.get(variables.$primary-text-colors, "soft-red");
    }
  }

  &[open] &__summary::after {
    animation: rotate-icon 0.2s forwards;
  }

  &__summary {
    align-items: center;
    color: map.get(variables.$neutral-text-colors, "very-dark-blue");
    cursor: pointer;
    display: flex;
    font-size: 0.8125rem;
    justify-content: space-between;
    list-style-type: none;
    transition: color 0.2s;

    &::after {
      animation: rotate-icon-reverse 0.1s forwards;
      content: url("../../../assets/icons/icon-arrow-down.svg");
    }

    &:hover {
      color: map.get(variables.$primary-text-colors, "soft-red");
    }
  }

  &__description {
    color: map.get(variables.$neutral-text-colors, "dark-blue");
    font-size: 0.75rem;
    line-height: 1.5;
    margin-top: 0.75rem;
    padding-right: 1rem;
  }
}

@media screen and (min-width: map.get(variables.$media-queries, "large")) {
  .accordion {
    padding-right: 1rem;

    &__description {
      font-size: 0.6875rem;
    }

    &__summary {
      font-size: 0.875rem;
    }

    &__summary:hover > &__title {
      padding-left: 0.3125rem;
    }

    &__title {
      transition: padding-left 0.25s;
    }
  }
}
