.illustration {
  &--woman {
    position: absolute;
    transform: translateY(-6.75rem);
    width: 100%;
  }
}

@media screen and (min-width: 62rem) {
  .illustration {
    &--woman {
      position: static;
      transform: translateX(-5.1875rem);
    }

    &--pattern {
      position: absolute;
      transform: translate(-20.625rem, -22.8125rem);
    }
  }
}
