@use "sass:map";
@use "./partials/reset";
@use "./partials/base";
@use "./partials/typography";
@use "./partials/variables";

.FAQ {
  background-color: map.get(variables.$background-colors, "white");
  border-radius: 1.5rem;
  max-width: 420px;
  padding: 1.5rem;
  padding-top: 0;
  width: 88%;

  &__title {
    color: map.get(variables.$primary-text-colors, "very-dark-blue");
    font-size: 2rem;
    margin-bottom: 2.5rem;
    text-align: center;
  }
}

.accordion {
  border-bottom: 1px solid map.get(variables.$divider-colors, "light-blue");
  margin-bottom: 1rem;
  padding-bottom: 1rem;

  &[open] > &__summary {
    color: map.get(variables.$primary-text-colors, "very-dark-blue");
    font-weight: 700;
  }

  &[open] &__icon {
    transform: rotate(180deg);
  }

  &__summary {
    align-items: center;
    color: map.get(variables.$neutral-text-colors, "very-dark-blue");
    cursor: pointer;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    list-style-type: none;

    &:active {
      color: map.get(variables.$primary-text-colors, "soft-red");
    }
  }

  &__description {
    color: map.get(variables.$neutral-text-colors, "dark-blue");
    font-size: 12px;
    line-height: 1.5;
    margin-top: 0.75rem;
  }
}

.illustrations {
  display: flex;
  justify-content: center;
  position: relative;
}

.illustration {
  position: absolute;
  transform: translateY(-108px);
  width: 240px;
}

@media screen and (min-width: 992px) {
  .FAQ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    width: 70%;

    &__title {
      text-align: left;
    }
  }
}
